body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Helvetica,sans-serif;
}

* {
    box-sizing: border-box;
}

.nav_contain {
    position: sticky;
    background: #fff;
    box-shadow: 0 0 1px rgba(0,65,94,0.2);
    z-index: 400;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    margin-bottom: 0px;
    padding:0 30px;
    display: flex;
    justify-content: space-between;
}

.nav-list {
    list-style: none;
    margin-right: 20px;
}

.treehouse-icon {
    width: 139px;
    height: 36;
    fill: #5fcf80;
    transition: all 600ms 0s ease;
}

.treehouse-icon:hover {
    fill: #19b347;
}

.logo {
    margin: 17px;
    margin-bottom: 0px;
    margin-left: 25px;
}

.nav_item {
    display: inline-block;
    padding: 10px;
}

.nav_link {
    font-size: 14px;
    text-decoration: none;
    color:rgb(129, 129, 129);
    font-weight: 600;
    font-family: 'Poppins', Helvetica,sans-serif;
    transition: color 300ms 0s ease;
}

#free {
    color: #5fcf80;
}

#free:hover {
    color: #16923b;
}

.nav_link:hover {
    color: rgb(56, 61, 63);;
}

.section1 {
    margin-top: 0;
    background-image: linear-gradient(to bottom, rgba(48,56,83,0) 40%, #303853 60%, #303853 100%),url(img/backimg.jpg);
    background-position-x: 100%, 100%;
    background-position-y: 0px, -200px;
    background-size: 100%, 100%;
    background-repeat: no-repeat, no-repeat;
    background-color: #303853;
    background-attachment: fixed, fixed;
    height: auto;
    position: relative;
    top: -19px;
    padding-top: 80px;
    padding-bottom: 32px;
}

.top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 129px;
    padding: 0 15px;
}

.learnit {
    display: flex;
    flex-direction: column;
    width: 585px;
    padding: 110px 15px;
}

.learn {
    font-weight: 700;
    color: white;
    font-size: 36px;
}

.goalie {
    font-weight: 500;
    color: white;
    font-size: 28px;
    transform: translateY(-2.5rem);
}

.form {
    background-color: white;
    padding: 30px;
    border: white 0px solid;
    border-radius: 5px;
}

.tryfree {
    font-weight: 700;
    color: rgb(64, 72, 74);;
    font-size: 16px;
    padding:20px;
    margin: -30px;
    margin-bottom: 30px;
    text-align: center;
    background-color: rgb(237, 239, 240);
    border-radius: 5px;
}

.reg {
    font-weight: 500;
}

.form-element {
    float: left;
    padding: 0 8px;
}

.form-label {
    display: block;
    color: #40484a;
    font-weight: 700;
    margin-bottom: .5rem;
    text-align: left;
}

.form-box {
    display: inline-block;
    background-color: #f9fafa;
    border: 1.6px solid rgb(212, 217, 221);;
    padding: 12px 16px;
    border-radius: 4px;
    color: #40484a;
    box-sizing: border-box;
    margin-bottom: 24px;
    text-align: start;
    transition: all 0.3s ease;
}

.form-box:hover {
    border-color: #8c9aa6;
}

.check {
    clear: both;
    color: #4b5658;
    font-size: 14px;
    font-weight: 600;
    padding: .25rem 0;
    border-bottom: rgb(237, 239, 240) solid 0.8px;
    padding-bottom: 24px;
}

.checkbox {
    background-color: white;
    color: white;
    cursor: pointer;
}

.claim {
    background-color: rgb(56, 123, 171);
    border:solid 1.6px rgb(56, 123, 171);
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    box-sizing: border-box;
    padding: 0 32px;
    line-height: 48px;
    margin-top: 24px;
    display: inline-block;
    position: relative;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.claim:hover {
    background-color: #2a5d81;
    border-color: #2a5d81;
}

.courses {
    display: flex;
    margin: 0 129.6px;
    margin-top: 20px;
    padding: 0 15px;
    color: white;
    flex-wrap: wrap;
    justify-content: center;
}

.text-list {
    margin: 0 24px;
}

.text_set {
    font-size: 36px;
}

.text_set1 {
    font-size: 18px;
}

.main {
    width: 100%;
    background-image: url(img/section1.png);
    background-repeat: no-repeat no-repeat;
    background-color: #f9fafa;
    background-position-x:100%;
    background-position-y:0% ;
    background-size: contain;
    background-origin: padding-box;
    background-clip: border-box;
    background-attachment: scroll;
    padding: 80px 0;
    z-index: auto;
    margin-top: -15px;
}

.mediaframe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 80px;
    border-bottom: solid 0.8px rgb(212, 217, 221);
}

.flexed {
    padding: 0 15px;
    overflow: auto;
}




.coder {
    z-index: 50;
    position: absolute;
    transform: translate(-40px,90px);
    display: inline-block;
    overflow: hidden;
}

@media screen and (max-width: 1140px) {
    .coder {
        width: 0px;
        height: 0px;
        display: none;
    }
}

@media screen and (max-width: 950px) {
    video {
        width: 100%;
        height: auto;
    }
}

.flexible {
    font-family: 'Poppins', Helvetica,sans-serif;
    width: 400px;
    padding-left: 48px;
    margin-top: -30px;
}

.text_set2 {
    font-weight: 700;
    font-size: 28px;
    color: rgb(56, 64, 71);
}

.text_set3 {
    margin-top: -20px;
    font-size: 18px;
    color: rgb(123, 139, 142);
}

.valuesup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 129px;
    padding: 80px 15px 48px 15px;
}

.support {
    padding: 0 80px 0 15px;
    width: 615px;
}

.support-img {
    width: 300px;
    height: 364.9px;
}

.valuable {
    padding: 0 15px 0 80px;
    width: 615px;
}

.setpos {
    transform: skewY(-5deg);
    position: relative;
    width: 100%;
    height: 188px;
    display: block;
    background-color: #fff;
    margin-top: -124px;
}

.partners {
    margin: 0 129px;
    padding: 0 15px;
    padding-bottom: 80px;
}

.partnerships {
    color: rgb(56, 64, 71);
    font-size: 36px;
    font-weight: 600;
    margin: 15px 0 64px 0;
    text-align: center;
}

.companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.companylogo {
    padding: 0 24px 80px 24px;
}

.google {
    height: 30.2333px;
    width: auto;
}

.alexa {
    height: 34px;
    width: auto;
}

.microsoft {
    height: 42px;
    width: auto;
}

.challenge {
    width: 100%;
    height: 502px;
    background-clip: border-box;
    background-image: url(img/100doc.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    background-origin: padding-box;
    padding: 80px 0;
}

.takechallenge {
    color: white;
    text-align: center;
    font-size: 38px;
    margin: 15px 0;
}

.hundreddaysofcode {
    color: white;
    font-size: 22px;
    text-align: center;
    margin: 10px 0 20px 0;
}

.button-learnmore {
    text-align: center;
}

.learnmore {
    color: rgb(240, 236, 236);
    background-color: rgb(95, 207, 128);
    border-radius: 4px;
    border: rgb(95, 207, 128) 1.6px solid;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    height: 52px;
    padding: 0 32px;
    transition: all 0.3s ease;
}

.learnmore:hover {
    background-color: #34ad58;
    border-color: #34ad58;
    color: white;
}

.lastsection {
    background-image: url(img/footimg.png);
    background-size: cover;
    background-repeat: no-repeat no-repeat;
    background-position: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 78px;
    z-index: 100;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    color: white;
    font-size: 18px;
    display: inline-block;
    padding-right: 30px;
    z-index: auto;
}

.explore {
    background-color: rgba(255, 255, 255, 0.9);
    color: #4b5658;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    border: white 2px solid;
    border-radius: 4px;
    cursor: pointer;
    padding: 0 26px;
    text-align: center;
    line-height: 34px;
    transition: all 0.3s ease;
    z-index: auto;
}

.explore:hover {
    background-color: white;
}


footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 129px;
    padding: 80px 15px 80px 15px;
    color:rgb(99, 113, 115)
}

ul {
    list-style-type: none;
}

.items_extra {
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.items_extra:hover {
    color: #485052;
}

.fab {
    font-size: 20px;
    font-weight: 400;
    color: white;
    font-family: "Font Awesome 5 Brands";
}

.list {
    padding: 0 15px;
}

.icons {
    padding: 0 15px;
}

.icons-list {
    box-sizing: border-box;
    display: inline-block;
    padding: 8px 10px;
    margin: 6px;
    background-color: #333;
    border-radius: 100%;
    transition: all 0.3s ease;
}

.icons-list:hover {
    background-color: #34ad58;
}